html{
    background: url(bluecave.jpg) no-repeat center center fixed;
    background-size:100% 100%;
    text-align: center;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 18px;
    color:#ffffff;

}
#timerbox{
    float: right;
    border-radius: 2px;
    padding: 10px;
}
#question{
    margin-top: 150px;
    font-size: 22px;
}
button{
    display:inline-block;
    background-color:#1e8ad5;
    border-radius:15px;
    border:0;
    height: 2.85em;
    margin-bottom: 10px;
    line-height: 2.95em;
    padding: 0 1em;
    text-align:center;
    cursor:pointer;
    color:#ffffff;
    transition: background 0.3s ease-in-out;
}
button:hover{
    background-color:#146097;
}